* {
    font-family: 'Lexend', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bg-red {
    background: #e61c1c;
}

.li-navbar {
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.li-navbar::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.li-navbar:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}